/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #c06838;
    color: white;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.user-icon img {
    width: 24px;
    height: 24px;
}

/* Layout principal */
main {
    display: flex;
}

aside {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px 0;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

aside ul li a.active {
    font-weight: bold;
    color: #c06838;
}

section.content {
    width: 80%;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background-color: #c06838;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #a5562e;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container > div {
    flex: 1;
    margin: 10px;
    text-align: left;
}

.payment-methods img {
    width: 40px;
    margin: 0 10px;
}

.contact-info p, .security p, .social-media a {
    margin-bottom: 10px;
}

.social-media img {
    width: 24px;
    margin: 0 5px;
}

.security img {
    width: 80px;
}
