body {
    font-family: Arial, sans-serif;
    background-color: #2b3b36;
    color: #e8e0d3;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section {
    background-color: #cc9966;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}

h2 {
    color: #000;
}

button {
    background-color: #e77b5b;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cf6545;
}